<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ document_title }}</title>
    <!-- If you update Plotly, you must also update the Plotly typings -->
    <script
      src="https://cdn.plot.ly/plotly-3.1.0.min.js"
      integrity="sha384-DAxS2fhSGacPW3IdpTjDpu+KotwjM8aHsfrkZRnfYyJIhAHoDav7jAJ+NmYcp6PL"
      crossorigin="anonymous"
      defer
    ></script>
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <noscript>
      <div class="no-js-banner" role="alert">
        ERROR: You have disabled JavaScript in your browser. Enable JavaScript to
        display the plot.
      </div>
    </noscript>
    <div id="cdn-fail" role="alert" hidden>
      ERROR: Could not load required dependency Plotly from cdn.plot.ly. This means you
      are not connected to the internet or your firewall is blocking access.
    </div>
    {% block main required %}
    {% endblock %}
    <!-- prettier-ignore-start -->
    <script type="application/json" id="plot-config">
      {{ plot_config|tojson }}
    </script>
    <!-- prettier-ignore-end -->
    {% block scripts required %}
    {% endblock %}
  </body>
</html>
