{% extends "bases/base.html" %}

{% block main %}
  <div id="histogram-container">
    <div id="histogram"></div>
  </div>

  <div id="histogram-controls">
    <label for="bin-width-input"> Set Threshold: </label>
    <input type="number" id="bin-width-input" step="any" inputmode="decimal" />
  </div>

  <div id="table-container">
    <div id="stats-table"></div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- prettier-ignore-start -->
  <script type="module">
    {% include "histogram/script.js" %}
  </script>
  <!-- prettier-ignore-end -->
{% endblock %}

{% block styles %}
  <!-- prettier-ignore-start -->
  <style>
    {% include "histogram/style.css" %}
  </style>
  <!-- prettier-ignore-end -->
{% endblock %}
