body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 2em;
}

#histogram-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#histogram {
  width: 90%;
  max-width: 50rem;
  /* // margin-bottom: 0.5em;  Adds spacing before dropdown */
  aspect-ratio: 3/2;
}

#histogram-controls {
  width: 80%; /* Same width as the histogram */
  max-width: 50rem;
  text-align: left; /* Aligns text to the left */
  margin-left: auto; /* Centers container but keeps text left-aligned */
  margin-right: auto;
}

#table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns the table with the left side */
  justify-content: flex-start;
  width: 80%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; /* Adds spacing between histogram and table */
}

#stats-table {
  width: 20rem;
  max-width: 100%; /* Ensures the table takes full width of container */
}
