<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plotly Box Plot</title>
    <script
      src="https://cdn.plot.ly/plotly-3.1.0.min.js"
      charset="utf-8"
    ></script>
    <style>
      {% include "style.css" %}
    </style>
  </head>
  <body>
    <div id="box-plot-container">
      <div id="box-plot-div"></div>
    </div>
    <script type="application/json" id="plot-config">
      {{ plot_config|tojson }}
    </script>
    <script type="module">
      {% include "script.js" %}
    </script>
  </body>
</html>
