body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#plot-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#plot {
  width: 100%;
  aspect-ratio: 16 / 9;
}
