{% extends "bases/base.html" %}

{% block main %}
  <div id="plotDiv"></div>

  <div id="select-threshold-controls">
    <div style="font-size: 1em;">Threshold: <span id="thresholdValue">0.5</span></div>

    <input
      type="range"
      id="thresholdSlider"
      min="{{ slider_min }}"
      max="{{ slider_max }}"
      step="0.01"
      value="{{ slider_default }}"
    />

    <div style="display: flex; gap: 0.5em;">
      <label for="thresholdInput" style="font-size: 0.875em;"> Set Threshold: </label>
      <input
        type="number"
        id="thresholdInput"
        step="any"
        style="width: 8em; text-align: left;"
        inputmode="decimal"
      />
    </div>

    <div style="display: flex; gap: 0.5em;">
      <label for="recallInput" style="font-size: 0.875em;">Set Recall:</label>
      <input
        type="number"
        id="recallInput"
        step="any"
        min="0"
        max="100"
        style="width: 8em; text-align: left;"
        inputmode="decimal"
      />
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- prettier-ignore-start -->
  <script type="module">
    {% include "select_threshold/script.js" %}
  </script>
  <!-- prettier-ignore-end -->
{% endblock %}

{% block styles %}
  <!-- prettier-ignore-start -->
  <style>
    {% include "select_threshold/style.css" %}
  </style>
  <!-- prettier-ignore-end -->
{% endblock %}
