{% extends "bases/base.html" %}

{% block main %}
  <div id="plotDiv"></div>

  <div id="select-threshold-controls">
    <div id="threshold-display">Threshold: <span id="thresholdValue">0.5</span></div>

    <input
      type="range"
      id="thresholdSlider"
      min="{{ slider_min }}"
      max="{{ slider_max }}"
      step="{{ slider_step }}"
      value="{{ slider_default }}"
    />

    <div class="threshold-row">
      <label for="thresholdInput"> Set Threshold: </label>
      <input type="number" id="thresholdInput" step="any" inputmode="decimal" />
    </div>

    <div class="threshold-row">
      <label for="recallInput">Set Recall:</label>
      <input
        type="number"
        id="recallInput"
        step="any"
        min="0"
        max="100"
        inputmode="decimal"
      />
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- prettier-ignore-start -->
  <script type="module">
    {% include "select_threshold/script.js" %}
  </script>
  <!-- prettier-ignore-end -->
{% endblock %}

{% block styles %}
  <!-- prettier-ignore-start -->
  <style>
    {% include "select_threshold/style.css" %}
  </style>
  <!-- prettier-ignore-end -->
{% endblock %}
